# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/
authentication.properties
src/test/java/com/otabi/scoutbook/AuthenticationTest.java
src/test/java/com/otabi/scoutbook/SessionTest.java
