# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/

# manual ignores
authentication.properties
/src/test/java/com/otabi/scoutbook/AuthenticationTest.java
/src/test/java/com/otabi/scoutbook/SessionTest.java
/src/test/java/com/otabi/pawprints/model/AdvancementTest.java
/src/test/java/com/otabi/pawprints/model/AdventureTest.java
/src/test/java/com/otabi/pawprints/model/DenTest.java

