.default  {-fx-stroke: transparent;-fx-fill: transparent;}
.APPROVED  {-fx-stroke: blue;-fx-fill: blue;}
.AWARDED {-fx-stroke: gold;-fx-fill: gold;}
.COMPLETED  {-fx-stroke: green;-fx-fill: green;}
.INVALID {-fx-stroke: grey;-fx-fill: grey;}
.LOADING  {-fx-stroke: gray;-fx-fill: transparent;}
.NOT_STARTED  {-fx-stroke: black;-fx-fill: transparent;}
.STARTED {-fx-stroke: green;-fx-fill: transparent;}